<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import { Head, Link, useForm } from '@inertiajs/vue3';

defineProps({
    skills: Array
});

const form = useForm({
    name: '',
    skill_id: '',
    image: null,
    project_url: '',
});

const submit = () => {
    form.post(route('projects.store'), {
        // onFinish: () => form.reset('password'),
    });
};
</script>

<template>
    <Head title="New Project"></Head>


    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">New Project</h2>
        </template>

        <div class="py-12">
            <div class="max-w-md mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <form class="p-4" @submit.prevent="submit">
                        <div>
                            <InputLabel for="skill_id" value="Skill" />
                            <select name="skill_id" id="skill_id" v-model="form.skill_id"
                            class="mt-1 block w-full rounded-md pl-3 pr-10 py-2  text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-600">
                                <option :value="skill.id" v-for="skill in skills" :key="skill.id">{{ skill.name }}</option>
                            </select>
                            <InputError class="mt-2" :message="form.errors.skill_id" />
                        </div>
                        <div>
                            <InputLabel for="name" value="Project Name" />

                            <TextInput
                                id="name"
                                type="name"
                                class="mt-1 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                v-model="form.name"
                                autofocus
                                autocomplete="name"
                            />

                            <InputError class="mt-2" :message="form.errors.name" />
                        </div>
                        <div>
                            <InputLabel for="project_url" value="URL" />

                            <TextInput
                                id="project_url"
                                type="text"
                                class="mt-1 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                v-model="form.project_url"
                                autocomplete="projecturl"
                            />

                            <InputError class="mt-2" :message="form.errors.project_url" />
                        </div>
                        <div class="mt-2">
                            <InputLabel for="image" value="Image" />

                            <TextInput
                                id="image"
                                type="file"
                                class="mt-1 rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 w-full"
                                @input="form.image = $event.target.files[0]"
                            />

                            <InputError class="mt-2" :message="form.errors.image" />
                        </div>



                        <div class="flex items-center justify-end mt-4">
                            <PrimaryButton class="ms-4 bg-indigo-500 hover:bg-indigo-800 text-white rounded-md" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                                Save
                            </PrimaryButton>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>
