<script setup>

</script>

<template>
    <!-- <div>
        <footer  class="py-12 bg-light-secondary dark:bg-dark-secondary">
            <div class="container mx-auto">
                <div class="flex flex-col items-center justify-between space-y-6 md:flex-row lg:space-y-0">
                    <div class="flex items-center justify-center space-x-6">
                        <img class="w-auto h-8" src="http://portfol.test/img/logo.png" alt="dev.trebesice.com" />
                    </div>
                    <p class="text-paragraph opacity-80 text-[15px]">
                        &copy; 2024 All rights reserved.
                    </p>
                </div>
            </div>
        </footer>
    </div> -->


<footer class="bottom-0 m-4 rounded-lg shadow bg-light-primary dark:bg-dark-primary">
    <div class="w-full max-w-screen-xl p-4 mx-auto md:py-8">
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400"> &copy; 2024 <a href="https://dev.trebesice.com/" class="hover:underline">Verbite™</a>. All Rights Reserved.</span>
    </div>
</footer>


</template>
