<script setup>
import { ref } from 'vue';

const showMobileMenu = ref("false");

const navigation = [
    { name: "Home", href:"#home" },
    { name: "About", href:"#about" },
    { name: "Portfolio", href:"#portfolio" },
    { name: "Services", href:"#services" },
    { name: "Contact Me", href:"#contact" },
];
</script>

<template>
    <nav class="fixed top-0 z-20 w-full border-gray-200 rounded-lg bg-light-primary dark:bg-dark-primary start-0 dark:border-gray-600">
        <div class="flex flex-wrap items-center justify-between max-w-screen-xl p-4 mx-auto">
            <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="http://portfol.test/img/logo.svg" class="h-8" alt="Flowbite Logo">
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Verbites</span>
            </a>
            <div class="flex space-x-3 md:order-2 md:space-x-0 rtl:space-x-reverse">
                <button type="button"
                    class="px-4 py-2 text-sm font-medium text-center text-white rounded-lg focus:ring-4 focus:outline-none focus:ring-blue-300 bg-accent dark:bg-indigo-800 hover:bg-light-secondary hover:text-light-tail-500 dark:hover:bg-indigo-900 dark:hover:text-dark-navy-100 dark:focus:ring-blue-800">Get
                    started</button>
                <button @click="showMobileMenu = !showMobileMenu" data-collapse-toggle="navbar-sticky" type="button"
                    class="inline-flex items-center justify-center w-10 h-10 p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                    aria-controls="navbar-sticky" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 17 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 1h15M1 7h15M1 13h15" />
                    </svg>
                </button>
            </div>
            <div class="items-center justify-between w-full md:flex md:w-auto md:order-1" :class="{hidden : showMobileMenu}" id="navbar-sticky">
                <ul
                    class="flex flex-col p-4 mt-4 font-medium border border-gray-100 rounded-lg md:p-0 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 dark:border-gray-700">
                    <li v-for="(nav, index) in navigation" :key="index">
                        <a :href="nav.href"
                            class="block px-3 py-2 rounded text-accent hover:text-light-tail-500 dark:hover:text-dark-navy-100"
                            aria-current="page">{{ nav.name }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>
