<script setup>

</script>

<template>
    <section id="home"
        class="lg:h-[85vh] flex items-center bg-light-primary dark:bg-dark-primary rounded-b-2xl shadow py-32 lg:py-0 overflow-hidden">
        <div class="container h-full mx-auto" v-motion
        :initial="{
          opacity: 0,
          y: 100,
        }"
        :visible="{
          opacity: 1,
          y: 0,
        }">
            <div class="flex flex-col items-center h-full pt-8 md:flex-row">
                <div class="flex flex-col items-center flex-1 lg:items-start">
                    <p class="text-lg text-accent text-md mb-[22px]">Hallo, I'm Kistler 👋</p>
                    <h1 class="
              text-4xl
              leading-[44px]
              md:text-5xl md:leading-tight
              lg:text-7xl lg:leading-[1.2]
              font-bold
              md:tracking-[-2px]
            ">
                        I Build & Design <br />
                        Web Interfaces.
                    </h1>
                    <p
            class="
              pt-4
              pb-8
              md:pt-6 md:pb-12
              max-w-[480px]
              text-lg text-center
              lg:text-left
            "
          >
          24/7 tech assistance, rapid solutions, reliable support - your technology, our expertise.
          </p>
          <button
            class="transition-all rounded-lg btn btn-md bg-accent dark:bg-indigo-800 hover:bg-light-secondary hover:text-light-tail-500 dark:hover:bg-indigo-900 dark:hover:text-dark-navy-100 md:btn-lg"
          >
            Work with me
          </button>

          <div class="pt-12">
            <h5
              class="flex items-center justify-center mb-2 text-lg text-black lg:justify-start dark:text-white"
            >
              Follow me on
            </h5>
            <div class="flex items-center mb-6">
              <a
                class="flex items-center justify-center w-12 h-12 mr-3 text-black border border-white rounded-full dark:text-white hover:bg-light-secondary hover:border-light-secondary dark:hover:bg-dark-secondary dark:hover:border-dark-secondary sm:mr-4"
                href="https://github.com/kistlerk19"
              >
              <svg
              class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg>
              </a>
              <a
                class="flex items-center justify-center w-12 h-12 mr-3 text-black border border-white rounded-full dark:text-white hover:bg-light-secondary hover:border-light-secondary dark:hover:bg-dark-secondary dark:hover:border-dark-secondary sm:mr-4"
                href="https://bitbucket.org/lara-ops/workspace/repositories/"
              >
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-gitlab"><path d="M22.65 14.39L12 22.13 1.35 14.39a.84.84 0 0 1-.3-.94l1.22-3.78 2.44-7.51A.42.42 0 0 1 4.82 2a.43.43 0 0 1 .58 0 .42.42 0 0 1 .11.18l2.44 7.49h8.1l2.44-7.51A.42.42 0 0 1 18.6 2a.43.43 0 0 1 .58 0 .42.42 0 0 1 .11.18l2.44 7.51L23 13.45a.84.84 0 0 1-.35.94z"></path></svg>
              </a>

              <a
                class="flex items-center justify-center w-12 h-12 mr-3 text-black border border-white rounded-full dark:text-white hover:bg-light-secondary hover:border-light-secondary dark:hover:bg-dark-secondary dark:hover:border-dark-secondary sm:mr-4"
                href="https://www.linkedin.com/in/ishmael-gyamfi-0925b922a/"
              >
                <svg
                  width="14"
                  height="14"
                  viewBox="0 0 14 14"
                  class="fill-current"
                >
                  <path
                    d="M13.0214 0H1.02084C0.453707 0 0 0.451613 0 1.01613V12.9839C0 13.5258 0.453707 14 1.02084 14H12.976C13.5432 14 13.9969 13.5484 13.9969 12.9839V0.993548C14.0422 0.451613 13.5885 0 13.0214 0ZM4.15142 11.9H2.08705V5.23871H4.15142V11.9ZM3.10789 4.3129C2.42733 4.3129 1.90557 3.77097 1.90557 3.11613C1.90557 2.46129 2.45002 1.91935 3.10789 1.91935C3.76577 1.91935 4.31022 2.46129 4.31022 3.11613C4.31022 3.77097 3.81114 4.3129 3.10789 4.3129ZM11.9779 11.9H9.9135V8.67097C9.9135 7.90323 9.89082 6.8871 8.82461 6.8871C7.73571 6.8871 7.57691 7.74516 7.57691 8.60323V11.9H5.51254V5.23871H7.53154V6.16452H7.55423C7.84914 5.62258 8.50701 5.08065 9.52785 5.08065C11.6376 5.08065 12.0232 6.43548 12.0232 8.2871V11.9H11.9779Z"
                  />
                </svg>
              </a>
            </div>
          </div>

                </div>
                <div class="flex items-center justify-end flex-1 h-full mt-8 md:mt-0">
                    <img
                      class="rounded-3xl"
                      src="http://portfol.test/img/king.jpg"
                      alt="Hero"
                    />
                  </div>
            </div>
        </div>
    </section>
</template>
